
body{
   font-family: "Baloo Paaji";
  box-sizing: border-box;
}
h1, h3, h4, #red{
    color: #ed5f5f;
}
/* -------------- HEADER -----------------------------------*/

header{
    background: #0f7588;
}
header a, header i {
    color: #FFF;
}

/* --------- HERO ------------------------------------------- */
.fondo-h{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
}
.titulo{
     background: rgba(16, 142, 165, 0.81);
    margin: 10% 15%;
    padding: 3%;
}
.titulo h1{
    font-size: 100px;
}
.titulo p{
    font-size: 20px;
    color: #FFF;
}


/* ----------------- CLASES -------------------- */
.clases{
   padding: 1%;
}
.raza{
    background: #108ea5;
    padding: 0 0.5%;
    line-height: 30px;
    }
.raza h4{
    padding: 2% 0;
}
.raza p{
    padding:  0 1%;
    color: #FFF;
}
/* -------------------CONEJOS---------------------- */

.conejos .container{
    background:#108ea5;
    padding: 2%;
    }
.cone1{
    background: #dff0ef;
}
.cone1 h3, .cone1 p{
    text-align: center;
    padding: 2%;
    margin: 2%;
    }
.cone1 span{
    margin: 2%;
}
.buscar{
    padding: 5%;
    margin-bottom: 2%;
}

.iconos .i-ctn{
    border-radius: 100%;
    background: #FFF;
    text-align: center;
    display: inline;
    padding: 1%;
    margin: 2%;
}
.iconos i{
    color:#108ea5;
    font-size: 15px;
    margin: 2%;
    
}

/* -------------SECTION OREJAS------------------------------- */

.orejas{
    background: url(../img/bunny-head.png);
    background-size:contain;
   }

.orejas br{
    border: 2px solid #ed5f5f;
    margin-top: 50%;
}

/* -----------------------FOOTER------------------ */
footer{
    background:#108ea5;
    text-align: center;
    padding: 1% 0;
    color: #FFF;
}

