body{
   font-family: "Baloo Paaji";
  box-sizing: border-box;
}
h1, h3, h4, #red{
    color: #ed5f5f;
}
/* -------------- HEADER -----------------------------------*/

header{
    background: rgb(75, 108, 154);
}
header a{
    color: #FFF;
}


/* --------- HERO ------------------------------------------- */
.fondo-h{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
}
.titulo{
     background: rgba(85, 152, 201, 0.88);
    margin: 10% 15%;
    padding: 3%;
}
.titulo h1{
    font-size: 100px;
}
.titulo p{
    font-size: 20px;
}


/* ----------------- CLASES -------------------- */
.clases{
   padding: 1%;
}
.raza{
    background: #108ea5;
    padding: 0 0.5%;
    line-height: 30px;
    }
.raza h4{
    padding: 2% 0;
}
.raza p{
    padding:  0 1%;
    color: #FFF;
}
/* -------------------CONEJOS---------------------- */

.conejos .container{
    background:#108ea5;
    padding: 2%;
    }
.cone1{
    background: #dff0ef;
}
.cone1 h3, .cone1 p{
    text-align: center;
    margin: 3% 0;
}
.buscar{
    padding: 5%;
    margin-bottom: 2%;
}
.iconos {
    display: inline block;
    margin:-1% 0 2% 0;
}

.iconos .i-ctn{
    border-radius: 100%;
    background: #FFF;
    padding: 0.5%;
    text-align: center;
}
.iconos i{
    color:#108ea5;
    font-size: 15px;
}

/* -------------SECTION OREJAS------------------------------- */

.orejas{
    background: url(../img/bunny-head.png);
    background-size:contain;
   }

.orejas br{
    border: 2px solid #ed5f5f;
    margin-top: 50%;
}

/* -----------------------FOOTER------------------ */
footer{
    background:#108ea5;
    text-align: center;
    padding: 1% 0;
    color: #FFF;
}

